@using WebApplication1.Controllers;
@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div>Jau užsiregistravo @ViewBag.Message dalyvių(kad prasidėtų varžybos reikia 8)</div>
<button type="button" onclick="location.href='@Url.Action("RegisterNewCompetotor", "Game")'">Registruotis</button>
@if (ViewBag.Error != null)
{
    <div class="alert-danger">@ViewBag.Error</div>
}