@using WebApplication1.Controllers;
@{
    ViewBag.Title = "GameSelection";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<h2>GameSelection</h2>
<div>Jau užsiregistravo @ViewBag.Message dalyvių</div>
<button name="submit">Registruotis</button>
