<h2>Prisijungimas</h2>
<form action="/Account/CheckLogIn" method="post">
    <fieldset>

        <p>
            <div>Vartotojo vardas</div>
            <input type="text" name="user" />
        </p>
        <p>
            <div>Slaptažodis</div>
            <input type="password" name="pass" />
        </p>
        <p>
            <div class="btn">Prisijungti</div>
        </p>
    </fieldset>
</form>