<div>@ViewBag.Title</div>
<h2>Prisijungimas</h2>
<form action="/Account/CheckLogIn" method="post">

        <p>
            <div>Vartotojo vardas</div>
            <input type="text" name="userName" required/>
        </p>
        <p>
            <div>Slaptažodis</div>
            <input type="password" name="pass" required />
        </p>
        <p>
            <input type="submit" value="Prisijungti" />
        </p>
</form>