<h2>Registruotis</h2>
<h2>@ViewBag.ErrorMessage</h2>
<form action="/Account/RegistrationForm" method="post">
    <p>
        <div>Vartotojo vardas</div>
        <input type="text" name="userName" />
    </p>
    <p>
        <div>Slaptažodis</div>
        <input type="text" name="pass" />
    </p>
    <p>
        <div>Elektroninis paštas</div>
        <input type="text" name="email" />
    </p>
   

    <input type="submit" value="Submit" />
</form>
