@model IEnumerable<WebApplication1.Models.PlayerViewModel>
@{
    ViewBag.Title = "Market";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}
<table class="invisibleTableBorders">
    <tr>
        <th>Vardas</th>
        <th>Pavarde</th>
        <th>Kaina</th>
        <th></th>
    </tr>
    <tr>
        <td>Vardas</td>
        <td>Pavarde</td>
        <td>Kaina</td>
        <td></td>
    </tr>

</table>

<!--onclick="location.href='<%: Url.Action("Action", "Controller") %>'"-->
